<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Heroes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
  <ion-list>
    <!-- <button ion-item *ngFor="let hero of heroes" (click)="itemSelected(hero)">
      {{ hero.id }} - {{ hero.name }}
    </button> -->
    <button ion-item *ngFor="let film of (films | async)?.results" (click)="openDetails(film)">
      {{ film.title }}
    </button>
  </ion-list>
</ion-content>
